body {
    text-align: center;
    background-color: rgb(104, 186, 233);
    align-content: center;
}

h1 {
    font-size: 48px;
}

h2 {
    margin: 25px auto;
    display: none;
}

label {
    font-size: 24px;
    margin-left: 20px;
}

select {
    font-size: 24px;
    text-align: center;
}

#board {
    width: 700px;   
    height: 600px;

    background-color: lightseagreen;

    border-radius: 5%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 100px;
    height: 100px;

    background-color: white;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid black;
}

button {
    width: 200px;
    height: 50px;

    font-size: 24px;
    text-align: center;
    cursor: pointer;
    
    margin: 18px auto;
}

#turn-cell {
    width: 70px;
    height: 70px;
    
    border: none;

    margin: 5px auto;
}