body {
    text-align: center;
}

#board {
    width: 700px;
    height: 600px;

    background-color: blue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#selectors-container {
    width: 700px;

    margin: 0 auto;
    display: flex;
}

.cell {
    width: 80px;
    height: 80px;

    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.selector {
    width: 80px;
    height: 80px;
    
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;

    cursor: pointer;
}

#clear_button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin: 50px auto;
}